.PP-page-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 12px;
  
  
  color: #444;
  letter-spacing: .2px;
  word-spacing: 1px;
}

.PP-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111827;
}

.PP-date {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
}

.PP-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 16px;
  color: #333;
}

.PP-subsub {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 12px;
}

.PP-smallsub {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 10px;
}

.PP-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 16px;
  text-align: justify;
}

.PP-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.PP-list li {
  margin-bottom: 15px;
}

a {
  color: #0066ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .PP-page-container {
    padding: 10px;
    margin: 15px 0 20px 0 ;
  }

  .PP-title {
    font-size: 1.5rem;
  }

  .PP-subtitle {
    font-size: 1.2rem;
  }
.PP-text{
  font-size: .95rem;
}
  .PP-subsub {
    font-size: 1.1rem;
  }

  .PP-smallsub {
    font-size: 1rem;
  }
}
